*{
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- TYPOGRAPHY ----- */

header{
  background-color: #5f29a3;
}
.container-header{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-block: .5em;
 }
 
nav{
  width: 100%;
}

.link-list{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}
.active{
  display: flex;
  padding-block: 1em;
}


.nav-link{
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.1rem;
  
}
main section{
  width: 90%;
  margin: 0 auto;
  
}
.container{
  display: flex;
  flex-direction: column;
}
main .section-two{
  width: 100%;
  padding-block: 1em;

}
.section-two .container{
  width: 90%;
  margin: 0 auto;
}


h1 {
    color: whitesmoke;
    font-size: 1.5rem;
}

h2 {
    color: #451c7a;
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 1em;
}

h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

p {
    line-height: 1.5;
    font-size: 1rem;
    margin-block: 1em;
    
}

.subheading {
    display: block;
    font-size: 1.1rem;
    color: #d0aaff;
    text-align: center;
}

.section-two h2 {
    color: inherit;
}

/* ----- LINKS ----- */

a {
    color: #ef5839;
    /* text-decoration: underline dotted;  */
}

a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4.6px;
}

.btn-dark {
    color: whitesmoke;
    background: #5f29a3;
    display: block;
    text-align: center;
    padding-block: .5em;
    margin-block: 1em;
}

.btn-mid {
    color: #5f29a3; 
    background: #f0e0ff;
    display: block;
    text-align: center;
    padding-block: .5em;
    margin-bottom: 1em;
}

.btn-light {
    color: #5f29a3; 
    background: whitesmoke;
    display: block;
    text-align: center;
    padding-block: .5em;
    margin-bottom: 1em;
}

.btn:hover, 
.btn:active {
    color: #2b238a;
    background-color: #f3e885;
}
.btn-menu{
  background-color: #5f29a3;
  fill: #f0e0ff;
  padding: .5em;
  border: solid 1px antiquewhite;
  border-radius: 10px;
  margin-block: 1em;
  font-size: 1rem;
}




.section-two {
    background-color: #5f29a3;
}

.section-two p {
    color: whitesmoke;
}
.section-two h2{
  color: whitesmoke;
}


.main-image {
    width: 100%;
    align-self: center;
    margin-block: 2em;
    
    
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.feature-image {
    width: 100%;
    height: auto;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: #5f29a3;
}
.foot-text{
  max-width: 100%;
}

@media (min-width:700px){
  .container-header{
    flex-wrap: nowrap;
    padding-block: 1em;
    width: 80%;
    gap: 1rem;
  }
  .title{
    flex: 1;
  }
  .subheading{
    text-align: left;
  }
  nav{
    flex: 1;
  }
  .btn-menu{
    display: none;
  }
  .link-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  main section{
    width: 80%;
  }
  .main-image{
    width: 70%;
/*     margin-block: 2em; */
  }
  .btn-dark, .btn-mid, .btn-light{
    display: inline-block;
      
  }
  .section-two .container{
    width: 80%;
  }
  .section-two-image-container{
    flex-direction: row;
    align-items: stretch;
  }
  .feature-image{
    width: 50%;
    max-width: 400px;
    
  }
 
  p{
    font-size: 1.2rem;
    max-width: 900px;
  }
}
 
@media (min-width:850px){
  h1{
    font-size: 2rem;
    
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 1.4rem;
  }
  .nav-link{
    font-size: 1.4rem;
  }
}


